* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {}

.sc-animation {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 24px;
}

.sc-animation .animation-list,
.sc-animation .gsap-animation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 64px;
}

.sc-animation .animation-item,
.sc-animation .gsap-animation-item {
    min-width: 320px;
    max-width: calc(100% / 2 - 12px);
    width: 100%;
}

.sc-animation .animation-item a,
.sc-animation .gsap-animation-item a {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sc-animation .animation-item .imgbx,
.sc-animation .gsap-animation-item .imgbx {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {

    .sc-animation {
        padding: 12px;
    }

    .sc-animation .animation-item,
    .sc-animation .gsap-animation-item {
        min-width: 320px;
        max-width: calc(100% / 1 - 12px);
    }
}